@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-cookie {
  font-family: var(--font-cookie);
}

.font-imperial {
  font-family: var(--font-imperial-script);
}

.font-roboto-slab {
  font-family: var(--font-roboto-slab);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-pacifico {
  font-family: var(--font-pacifico);
}

.font-lobster {
  font-family: var(--font-lobster);
}

.font-italiana {
  font-family: var(--font-italiana);
}

.bg-color {
  background-color: #fff7e4;
}

.bg-color-2 {
  background-color: #795411;
}

.main-color {
  color: #795411;
}
.main-color-2 {
  color: #fff7e4;
}

.motif-1 {
  position: absolute;
  bottom: -80px;
  left: 0;
  z-index: -1;
}

.section {
  position: relative;
}

.bg-box {
  backdrop-filter: blur(2px);
}

.opening-page {
  background-color: #fff7e4;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.opening-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/motif-14.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: 0;
}

.opening-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.motif-2 {
  width: 70%;
}

.home-section {
  position: relative;
  overflow: hidden;
}

.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/motif-14.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.people-section #motif-1 {
  position: absolute;
  bottom: 0;
  width: 25%;
  left: 10px;
  transform: rotate(90deg);
}

.people-section #motif-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
}

.people-section #motif-3 {
  position: absolute;
  top: 10px;
  width: 30%;
  left: 0;
  /* transform: scaleX(-1); */
}

.people-section #motif-4 {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30%;
}

.countdown-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/motif-14.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleY(-1);
  z-index: -1;
  opacity: 0.2;
}

.event-section .motif-5 {
  position: absolute;
  top: 10px;
  width: 25%;
  left: 0;
  transform: scaleX(-1);
}

.event-section .motif-6 {
  position: absolute;
  top: 10px;
  right: 0;
  width: 25%;
}

.scale-infinite {
  display: inline-block; /* atau block sesuai elemen */
  animation: scaleUpDown 2s ease-in-out infinite;
  backface-visibility: hidden; /* bantu render lebih halus */
  transform: translateZ(0);
  transform-origin: center; /* pusat animasi */
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03); /* ukuran maksimal */
  }
  100% {
    transform: scale(1);
  }
}
